@import url(http://fonts.googleapis.com/css?family=Coustard|Open+Sans);

body{
	overflow: hidden;
}

.gradient {
	left:0;
	height:100%;
	/*position:absolute;*/
	top:0;
	width:100%;
	z-index:10;
}
.logo{
	position: relative;
	z-index: 100;
	display: none;
}

.logo img{
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: 50px;
    width: 160px;
    background: rgba(255, 255, 255,1);
}

.content{
	width: 600px;
	height: 215px;
	padding: 20px 10px 20px 20px;
	/*border-width: 1px;
	border-color: white;
	border-style: solid;*/
	position: absolute;
	right: -700px;
	bottom: 150px;
	background-color: rgba(158,158,158,0.7);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

h1 {
    font-size: 63px;
    line-height: 70px;
    color: #00448b;
    padding: 0;
    font-weight: bold;
    margin: 0;
    display: none;
}

h2 {
    font-size: 53px;
    line-height: 70px;
    color: #fff;
    padding: 0;
    color: #00448b;
    font-weight: bold;
    margin: 0;
}
.long{
	display: none;
}
p{
	font-family: 'Coustard', serif;
	color: #e2d9d9;
	letter-spacing: 1px;
	font-weight: lighter;
}


h1,h2,h5{
	font-family: 'Coustard', serif;

	letter-spacing: 1px;
	position: relative;
	z-index: 100;
}

h5{
	display: none;
    font-size: 28px;
    line-height: 35px;
    padding: 0;
    margin: 0;
    color: #00448b;
}

.logo_mobile{
	position: relative;
	z-index: 100;
}
.logo_mobile div{


  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
}
.logo_mobile div img{
    border-radius: 5px;
    width: 160px;
    background: rgba(255, 255, 255,1);
	height: 160px;
}
.content_mobile{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 130%);	
  color: #fff;
  width: 305px;
  text-align: center;
}
@media only screen and (min-width: 769px) {
	.container_mobile{
		display: none;
	}
}
@media (max-width: 768px) and (min-width: 501px) {
	.container_mobile{
		display: block;
	}	
	.container{
		display: none;
	}
	body{
		height:100vh;
	}
	.logo_mobile div img{
	    border-radius: 5px;
	    width: 260px;
	    height: 260px;
	}
	.content_mobile{
		font-size: 50px;
		line-height: 50px;
		width: 500px;
	    transform: translate(-50%, 150%);
		text-align: center;
	}
}
@media only screen and (max-width: 500px) {
	.container{
		display: none;
	}
	.container_mobile{
		display: block;
	}
	body{
		height:100vh;
	}
}


